<a href="https://colab.research.google.com/github/JCFlores93/python-bootcamp-go-from-zero-to-hero-in-python3/blob/master/pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://www-us.apache.org/dist/spark/spark-2.4.3/spark-2.4.3-bin-hadoop2.7.tgz
!tar xf spark-2.4.3-bin-hadoop2.7.tgz
!pip install -q findspark

In [0]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.3-bin-hadoop2.7"

In [0]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [0]:
from google.colab import files
uploaded = files.upload()

Saving 2015-summary.csv to 2015-summary.csv

In [0]:
df_csv = spark.read.csv("2015-summary.csv", header = True ,sep = ',')

In [0]:
df_csv.show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|   15|
|    United States|            Croatia|    1|
|    United States|            Ireland|  344|
|            Egypt|      United States|   15|
|    United States|              India|   62|
+-----------------+-------------------+-----+
only showing top 5 rows

In [0]:
from google.colab import files
uploaded = files.upload()

Saving salario.txt to salario.txt

In [0]:
df_txt = spark.read.csv("salario.txt", header = True ,sep = ',')

In [0]:
df_txt.show()

+---------+----------+-------------+-----------+----------+------+
|     rank|discipline|yrs_since_phd|yrs_service|       sex|salary|
+---------+----------+-------------+-----------+----------+------+
|     Prof|         B|           19|         18|Male      |139750|
|     Prof|         B|           20|         16|Male      |173200|
| AsstProf|         B|            4|          3|Male      | 79750|
|     Prof|         B|           45|         39|Male      |115000|
|     Prof|         B|           40|         41|Male      |141500|
|AssocProf|         B|            6|          6|Male      | 97000|
|     Prof|         B|           30|         23|Male      |175000|
|     Prof|         B|           45|         45|Male      |147765|
|     Prof|         B|           21|         20|Male      |119250|
|     Prof|         B|           18|         18|Female    |129000|
|AssocProf|         B|           12|          8|Male      |119800|
| AsstProf|         B|            7|          2|Male      | 79800|
| AsstProf|         B|            1|          1|Male      | 77700|
| AsstProf|         B|            2|          0|Male      | 78000|
|     Prof|         B|           20|         18|Male      |104800|
|     Prof|         B|           12|          3|Male      |117150|
|     Prof|         B|           19|         20|Male      |101000|
|     Prof|         A|           38|         34|Male      |103450|
|     Prof|         A|           37|         23|Male      |124750|
|     Prof|         A|           39|         36|Female    |137000|
+---------+----------+-------------+-----------+----------+------+
only showing top 20 rows

In [0]:
from google.colab import files
uploaded = files.upload()

Saving part-r-00000-1a9822ba-b8fb-4d8e-844a-ea30d0801b9e.gz.parquet to part-r-00000-1a9822ba-b8fb-4d8e-844a-ea30d0801b9e.gz.parquet

In [0]:
df_pt = spark.read.parquet("part-r-00000-1a9822ba-b8fb-4d8e-844a-ea30d0801b9e.gz.parquet")

In [0]:
df_pt.show(5)

+-----------------+-------------------+-----+
|DEST_COUNTRY_NAME|ORIGIN_COUNTRY_NAME|count|
+-----------------+-------------------+-----+
|    United States|            Romania|    1|
|    United States|            Ireland|  264|
|    United States|              India|   69|
|            Egypt|      United States|   24|
|Equatorial Guinea|      United States|    1|
+-----------------+-------------------+-----+
only showing top 5 rows

In [0]:
df_range = spark.range(100).toDF('numero')

In [0]:
df_range.show(5)

+------+
|numero|
+------+
|     0|
|     1|
|     2|
|     3|
|     4|
+------+
only showing top 5 rows

In [0]:
lista_Profes = [('Aldo','Chavez',25,1.67)]
lista_Profes.append(['Andre','Chavez',27,1.68])
lista_Profes.append(['Jean','Flores',26,1.73])
lista_Profes

[('Aldo', 'Chavez', 25, 1.67),
 ['Andre', 'Chavez', 27, 1.68],
 ['Jean', 'Flores', 26, 1.73]]

In [0]:
df = spark.createDataFrame(lista_Profes, ['Nombre','Apellido','Edad','Altura'])

In [0]:
df.show()

+------+--------+----+------+
|Nombre|Apellido|Edad|Altura|
+------+--------+----+------+
|  Aldo|  Chavez|  25|  1.67|
| Andre|  Chavez|  27|  1.68|
|  Jean|  Flores|  26|  1.73|
+------+--------+----+------+

## Desde Pandas Dataframe

In [0]:
from google.colab import files
uploaded = files.upload()

Saving morosidad.csv to morosidad.csv

In [0]:
import pandas as pd 
train = pd.read_csv('morosidad.csv')
train.head()

   ID  edad  meses  max_ant   ingreso  score  tipo_vivienda  zona  nivel
0   1    28    122        9   1115.09    206              4     1      5
1   2    27    173       61   2450.00    205              2     1      5
2   3    37    185        4   1390.00    177              2     3      5
3   4    34    262       20   2200.00    216              2     1      2
4   5    40    150       17  10000.00    185              2     1      2

In [0]:
type(train)

pandas.core.frame.DataFrame

In [0]:
df_spark = spark.createDataFrame(train)

In [0]:
df_spark.show()

+---+----+-----+-------+--------+-----+-------------+----+-----+
| ID|edad|meses|max_ant| ingreso|score|tipo_vivienda|zona|nivel|
+---+----+-----+-------+--------+-----+-------------+----+-----+
|  1|  28|  122|      9| 1115.09|  206|            4|   1|    5|
|  2|  27|  173|     61|  2450.0|  205|            2|   1|    5|
|  3|  37|  185|      4|  1390.0|  177|            2|   3|    5|
|  4|  34|  262|     20|  2200.0|  216|            2|   1|    2|
|  5|  40|  150|     17| 10000.0|  185|            2|   1|    2|
|  6|  40|  114|      0|  903.88|  173|            2|   3|    5|
|  7|  31|  161|      0|  3800.0|  192|            2|   1|    5|
|  8|  49|  210|     44| 30000.0|  203|            4|   1|    3|
|  9|  40|  194|     47|  3680.0|  204|            2|   1|    5|
| 10|  36|  216|      0|  4000.0|  175|            2|   4|    2|
| 11|  50|  131|      0| 1182.72|  199|            4|   3|    5|
| 12|  27|  189|     28|  2300.0|  193|            2|   1|    2|
| 13|  31|  140|     16| 1789.14|  192|            2|   1|    5|
| 14|  38|  117|      0|  806.77|  177|            2|   3|    5|
| 15|  48|  141|     47|  2500.0|  214|            2|   1|    1|
| 16|  27|  135|      0|  790.84|  160|            2|   1|    5|
| 17|  30|  118|      6|  1122.0|  188|            2|   1|    2|
| 18|  29|  115|      0|  2800.0|  200|            2|   1|    4|
| 19|  37|  162|      9|20285.08|  201|            2|   1|    2|
| 20|  32|  172|     40|  2555.0|  175|            2|   3|    2|
+---+----+-----+-------+--------+-----+-------------+----+-----+
only showing top 20 rows

In [0]:
type(df_spark)

pyspark.sql.dataframe.DataFrame

In [0]:
df_spark.select('meses', 'ingreso', 'score').show()

+-----+--------+-----+
|meses| ingreso|score|
+-----+--------+-----+
|  122| 1115.09|  206|
|  173|  2450.0|  205|
|  185|  1390.0|  177|
|  262|  2200.0|  216|
|  150| 10000.0|  185|
|  114|  903.88|  173|
|  161|  3800.0|  192|
|  210| 30000.0|  203|
|  194|  3680.0|  204|
|  216|  4000.0|  175|
|  131| 1182.72|  199|
|  189|  2300.0|  193|
|  140| 1789.14|  192|
|  117|  806.77|  177|
|  141|  2500.0|  214|
|  135|  790.84|  160|
|  118|  1122.0|  188|
|  115|  2800.0|  200|
|  162|20285.08|  201|
|  172|  2555.0|  175|
+-----+--------+-----+
only showing top 20 rows

In [0]:
df_spark.select('meses', 'ingreso', 'score').where('meses = 122').show()

+-----+-------+-----+
|meses|ingreso|score|
+-----+-------+-----+
|  122|1115.09|  206|
|  122| 9625.0|  238|
|  122| 7055.0|  175|
|  122| 1000.0|  196|
+-----+-------+-----+

In [0]:
df_spark.groupby('tipo_vivienda').count().show()

+-------------+-----+
|tipo_vivienda|count|
+-------------+-----+
|            1|    3|
|            3|    2|
|            2|  226|
|            4|   69|
+-------------+-----+

In [0]:
df_spark.groupby('tipo_vivienda').sum('edad').show()

+-------------+---------+
|tipo_vivienda|sum(edad)|
+-------------+---------+
|            1|       87|
|            3|       65|
|            2|     7406|
|            4|     2474|
+-------------+---------+

In [0]:
df_spark.groupby('tipo_vivienda').sum('edad').where('tipo_vivienda = 1').show()

+-------------+---------+
|tipo_vivienda|sum(edad)|
+-------------+---------+
|            1|       87|
+-------------+---------+

In [0]:
import pyspark.sql.functions as f

In [0]:
df_spark.select(
    f.col('edad').alias('edad_persona'),
    "meses", 
    f.col('meses') + 5, 'tipo_vivienda', 
    'ingreso', 
    (f.round(f.col('ingreso')*0.9, 3)).alias('Nuevo') 
).where('tipo_vivienda = 4').show()

+------------+-----+-----------+-------------+-------+--------+
|edad_persona|meses|(meses + 5)|tipo_vivienda|ingreso|   Nuevo|
+------------+-----+-----------+-------------+-------+--------+
|          28|  122|        127|            4|1115.09|1003.581|
|          49|  210|        215|            4|30000.0| 27000.0|
|          50|  131|        136|            4|1182.72|1064.448|
|          34|  102|        107|            4| 2400.0|  2160.0|
|          44|  121|        126|            4| 2800.0|  2520.0|
|          30|  129|        134|            4|  750.0|   675.0|
|          32|  143|        148|            4|2117.29|1905.561|
|          28|  110|        115|            4|1635.77|1472.193|
|          63|  270|        275|            4| 9180.0|  8262.0|
|          23|  114|        119|            4|1017.03| 915.327|
|          24|  120|        125|            4| 608.58| 547.722|
|          47|  160|        165|            4|7586.26|6827.634|
|          24|  150|        155|            4|1790.24|1611.216|
|          46|  210|        215|            4|13500.0| 12150.0|
|          35|  134|        139|            4|2168.83|1951.947|
|          22|  134|        139|            4| 967.18| 870.462|
|          31|  132|        137|            4|30000.0| 27000.0|
|          31|  157|        162|            4| 1800.0|  1620.0|
|          49|  274|        279|            4| 2000.0|  1800.0|
|          25|  132|        137|            4|1709.09|1538.181|
+------------+-----+-----------+-------------+-------+--------+
only showing top 20 rows

In [0]:
df_spark.groupby('tipo_vivienda').avg('ingreso').show()

+-------------+------------------+
|tipo_vivienda|      avg(ingreso)|
+-------------+------------------+
|            1|3266.6666666666665|
|            3|            4227.5|
|            2| 3018.948672566372|
|            4|4028.4749275362324|
+-------------+------------------+

In [0]:
df_spark.groupby('tipo_vivienda')\
.agg(
    (f.round(f.avg('ingreso'), 2)).alias('Ingreso'), 
    f.sum('ingreso')
  )\
.sort(f.col('Ingreso').desc())\
.select('tipo_vivienda', 'Ingreso')\
.show()

+-------------+-------+
|tipo_vivienda|Ingreso|
+-------------+-------+
|            3| 4227.5|
|            4|4028.47|
|            1|3266.67|
|            2|3018.95|
+-------------+-------+

In [0]:
df_spark2 = df_spark.groupby('tipo_vivienda')\
.agg(
    (f.round(f.avg('ingreso'), 2)).alias('Ingreso'), 
    f.sum('ingreso')
  )\

In [0]:
df_spark2.sort(f.col('Ingreso').desc())\
.select('tipo_vivienda', 'Ingreso')\
.show()

+-------------+-------+
|tipo_vivienda|Ingreso|
+-------------+-------+
|            3| 4227.5|
|            4|4028.47|
|            1|3266.67|
|            2|3018.95|
+-------------+-------+

In [0]:
df_spark.select(
    'edad', 
    (f.when(f.col('edad') > 28, 'Mayor de edad')\
           .when(f.col('edad') < 28, 'Menor de edad').otherwise('Igual a 28')).alias('Mayoria')).show()

+----+-------------+
|edad|      Mayoria|
+----+-------------+
|  28|   Igual a 28|
|  27|Menor de edad|
|  37|Mayor de edad|
|  34|Mayor de edad|
|  40|Mayor de edad|
|  40|Mayor de edad|
|  31|Mayor de edad|
|  49|Mayor de edad|
|  40|Mayor de edad|
|  36|Mayor de edad|
|  50|Mayor de edad|
|  27|Menor de edad|
|  31|Mayor de edad|
|  38|Mayor de edad|
|  48|Mayor de edad|
|  27|Menor de edad|
|  30|Mayor de edad|
|  29|Mayor de edad|
|  37|Mayor de edad|
|  32|Mayor de edad|
+----+-------------+
only showing top 20 rows

In [0]:
df_spark.select(f.col('meses').cast('string'))

DataFrame[meses: string]

In [0]:
df_spark3 = df_spark.select(f.col('meses').cast('string')).alias('meses')
df_spark3.select('meses').where(f.col('meses').like('%2%')).show()

+-----+
|meses|
+-----+
|  122|
|  262|
|  210|
|  216|
|  162|
|  172|
|  132|
|  102|
|  121|
|  152|
|  129|
|  120|
|  142|
|  132|
|  126|
|  208|
|  129|
|  142|
|  124|
|  125|
+-----+
only showing top 20 rows

In [0]:
df_spark3.select('meses').where(f.col('meses').like('%12%')).show()

+-----+
|meses|
+-----+
|  122|
|  121|
|  129|
|  120|
|  126|
|  129|
|  124|
|  125|
|  121|
|  125|
|  128|
|  120|
|  112|
|  122|
|  127|
|  127|
|  121|
|  121|
|  126|
|  122|
+-----+
only showing top 20 rows

In [0]:
df_csv

DataFrame[DEST_COUNTRY_NAME: string, ORIGIN_COUNTRY_NAME: string, count: string]

In [0]:
df_csv.select((f.col('DEST_COUNTRY_NAME').substr(1,3)).alias('Pais')).show(5)

+----+
|Pais|
+----+
| Uni|
| Uni|
| Uni|
| Egy|
| Uni|
+----+
only showing top 5 rows

In [0]:
df_csv.select('count', (f.col('count').between(10,30)).alias('rango')).show(5)

+-----+-----+
|count|rango|
+-----+-----+
|   15| true|
|    1|false|
|  344|false|
|   15| true|
|   62|false|
+-----+-----+
only showing top 5 rows

In [0]:
from google.colab import files
uploaded = files.upload()

Saving empleados.csv to empleados.csv

In [0]:
df_empleados = spark.read.csv("empleados.csv", header=True, sep=',')

In [0]:
df_empleados.show()

+-----------+-----------+----------+--------+------------+---------+----------+------+--------------+----------+-------------+
|EMPLOYEE_ID| FIRST_NAME| LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+-----------+----------+--------+------------+---------+----------+------+--------------+----------+-------------+
|        100|     Steven|      King|   SKING|515.123.4567| 17/06/03|   AD_PRES| 24000|          null|      null|           90|
|        101|      Neena|   Kochhar|NKOCHHAR|515.123.4568| 21/09/05|     AD_VP| 17000|          null|       100|           90|
|        102|        Lex|   De Haan| LDEHAAN|515.123.4569| 13/01/01|     AD_VP| 17000|          null|       100|           90|
|        103|  Alexander|    Hunold| AHUNOLD|590.423.4567| 03/01/06|   IT_PROG|  9000|          null|       102|           60|
|        104|      Bruce|     Ernst|  BERNST|590.423.4568| 21/05/07|   IT_PROG|  6000|          null|       103|           60|
|        105|      David|    Austin| DAUSTIN|590.423.4569| 25/06/05|   IT_PROG|  4800|          null|       103|           60|
|        106|      Valli| Pataballa|VPATABAL|590.423.4560| 05/02/06|   IT_PROG|  4800|          null|       103|           60|
|        107|      Diana|   Lorentz|DLORENTZ|590.423.5567| 07/02/07|   IT_PROG|  4200|          null|       103|           60|
|        108|      Nancy| Greenberg|NGREENBE|515.124.4569| 17/08/02|    FI_MGR| 12008|          null|       101|          100|
|        109|     Daniel|    Faviet| DFAVIET|515.124.4169| 16/08/02|FI_ACCOUNT|  9000|          null|       108|          100|
|        110|       John|      Chen|   JCHEN|515.124.4269| 28/09/05|FI_ACCOUNT|  8200|          null|       108|          100|
|        111|     Ismael|   Sciarra|ISCIARRA|515.124.4369| 30/09/05|FI_ACCOUNT|  7700|          null|       108|          100|
|        112|Jose Manuel|     Urman| JMURMAN|515.124.4469| 07/03/06|FI_ACCOUNT|  7800|          null|       108|          100|
|        113|       Luis|      Popp|   LPOPP|515.124.4567| 07/12/07|FI_ACCOUNT|  6900|          null|       108|          100|
|        114|        Den|  Raphaely|DRAPHEAL|515.127.4561| 07/12/02|    PU_MAN| 11000|          null|       100|           30|
|        115|  Alexander|      Khoo|   AKHOO|515.127.4562| 18/05/03|  PU_CLERK|  3100|          null|       114|           30|
|        116|     Shelli|     Baida|  SBAIDA|515.127.4563| 24/12/05|  PU_CLERK|  2900|          null|       114|           30|
|        117|      Sigal|    Tobias| STOBIAS|515.127.4564| 24/07/05|  PU_CLERK|  2800|          null|       114|           30|
|        118|        Guy|    Himuro| GHIMURO|515.127.4565| 15/11/06|  PU_CLERK|  2600|          null|       114|           30|
|        119|      Karen|Colmenares|KCOLMENA|515.127.4566| 10/08/07|  PU_CLERK|  2500|          null|       114|           30|
+-----------+-----------+----------+--------+------------+---------+----------+------+--------------+----------+-------------+
only showing top 20 rows

In [0]:
from google.colab import files
uploaded = files.upload()

Saving paises.csv to paises.csv

In [0]:
df_paises = spark.read.csv("paises.csv", header=True, sep=',')

In [0]:
df_paises.show()

+----------+------------+---------+
|COUNTRY_ID|COUNTRY_NAME|REGION_ID|
+----------+------------+---------+
|        AR|   Argentina|        2|
|        AU|   Australia|        3|
|        BE|     Belgium|        1|
|        BR|      Brazil|        2|
|        CA|      Canada|        2|
|        CH| Switzerland|        1|
|        CN|       China|        3|
|        DE|     Germany|        1|
|        DK|     Denmark|        1|
|        EG|       Egypt|        4|
|        FR|      France|        1|
|        IL|      Israel|        4|
|        IN|       India|        3|
|        IT|       Italy|        1|
|        JP|       Japan|        3|
|        KW|      Kuwait|        4|
|        ML|    Malaysia|        3|
|        MX|      Mexico|        2|
|        NG|     Nigeria|        4|
|        NL| Netherlands|        1|
+----------+------------+---------+
only showing top 20 rows

In [0]:
from google.colab import files
uploaded = files.upload()

Saving departamentos.dsv to departamentos (1).dsv
Saving empleados.csv to empleados (1).csv
Saving historico_trabajos.dsv to historico_trabajos (1).dsv
Saving locaciones.tsv to locaciones (1).tsv
Saving paises.csv to paises (1).csv
Saving regiones.txt to regiones (1).txt
Saving trabajos.dsv to trabajos (1).dsv

In [0]:
df_departamentos = spark.read.csv('departamentos.dsv', header=True, sep=';', inferSchema=True)

In [0]:
df_ht = spark.read.csv('historico_trabajos.dsv', header=True, sep='|', inferSchema=True)

In [0]:
df_loc = spark.read.csv('locaciones.tsv', header=True, sep='\t', inferSchema=True)

In [0]:
df_trab = spark.read.csv('trabajos.dsv', header=True,sep=':', inferSchema=True)

In [0]:
df_reg = spark.read.csv("regiones.txt", header=True, sep='\t', inferSchema=True)

In [0]:
df_departamentos.show(5)
df_ht.show(5)
df_loc.show(5)
df_trab.show(5)
df_reg.show(5)
df_empleados.show(5)
df_paises.show(5)

+-------------+---------------+----------+-----------+
|DEPARTMENT_ID|DEPARTMENT_NAME|MANAGER_ID|LOCATION_ID|
+-------------+---------------+----------+-----------+
|           10| Administration|       200|       1700|
|           20|      Marketing|       201|       1800|
|           30|     Purchasing|       114|       1700|
|           40|Human Resources|       203|       2400|
|           50|       Shipping|       121|       1500|
+-------------+---------------+----------+-----------+
only showing top 5 rows

+-----------+----------+--------+----------+-------------+
|EMPLOYEE_ID|START_DATE|END_DATE|    JOB_ID|DEPARTMENT_ID|
+-----------+----------+--------+----------+-------------+
|        102|  13/01/01|24/07/06|   IT_PROG|           60|
|        101|  21/09/97|27/10/01|AC_ACCOUNT|          110|
|        101|  28/10/01|15/03/05|    AC_MGR|          110|
|        201|  17/02/04|19/12/07|    MK_REP|           20|
|        114|  24/03/06|31/12/07|  ST_CLERK|           50|
+-----------+----------+--------+----------+-------------+
only showing top 5 rows

+-----------+--------------------+-----------+---------+----------------+----------+
|LOCATION_ID|      STREET_ADDRESS|POSTAL_CODE|     CITY|  STATE_PROVINCE|COUNTRY_ID|
+-----------+--------------------+-----------+---------+----------------+----------+
|       1000|1297 Via Cola di Rie|      00989|     Roma|            null|        IT|
|       1100|93091 Calle della...|      10934|   Venice|            null|        IT|
|       1200|    2017 Shinjuku-ku|       1689|    Tokyo|Tokyo Prefecture|        JP|
|       1300|     9450 Kamiya-cho|       6823|Hiroshima|            null|        JP|
|       1400| 2014 Jabberwocky Rd|      26192|Southlake|           Texas|        US|
+-----------+--------------------+-----------+---------+----------------+----------+
only showing top 5 rows

+----------+--------------------+----------+----------+
|    JOB_ID|           JOB_TITLE|MIN_SALARY|MAX_SALARY|
+----------+--------------------+----------+----------+
|   AD_PRES|           President|     20080|     40000|
|     AD_VP|Administration Vi...|     15000|     30000|
|   AD_ASST|Administration As...|      3000|      6000|
|    FI_MGR|     Finance Manager|      8200|     16000|
|FI_ACCOUNT|          Accountant|      4200|      9000|
+----------+--------------------+----------+----------+
only showing top 5 rows

+---------+--------------------+
|REGION_ID|         REGION_NAME|
+---------+--------------------+
|        1|              Europe|
|        2|            Americas|
|        3|                Asia|
|        4|Middle East and A...|
+---------+--------------------+

+-----------+----------+---------+--------+------------+---------+-------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE| JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+-------+------+--------------+----------+-------------+
|        100|    Steven|     King|   SKING|515.123.4567| 17/06/03|AD_PRES| 24000|          null|      null|           90|
|        101|     Neena|  Kochhar|NKOCHHAR|515.123.4568| 21/09/05|  AD_VP| 17000|          null|       100|           90|
|        102|       Lex|  De Haan| LDEHAAN|515.123.4569| 13/01/01|  AD_VP| 17000|          null|       100|           90|
|        103| Alexander|   Hunold| AHUNOLD|590.423.4567| 03/01/06|IT_PROG|  9000|          null|       102|           60|
|        104|     Bruce|    Ernst|  BERNST|590.423.4568| 21/05/07|IT_PROG|  6000|          null|       103|           60|
+-----------+----------+---------+--------+------------+---------+-------+------+--------------+----------+-------------+
only showing top 5 rows

+----------+------------+---------+
|COUNTRY_ID|COUNTRY_NAME|REGION_ID|
+----------+------------+---------+
|        AR|   Argentina|        2|
|        AU|   Australia|        3|
|        BE|     Belgium|        1|
|        BR|      Brazil|        2|
|        CA|      Canada|        2|
+----------+------------+---------+
only showing top 5 rows

In [0]:
tabla_unida = df_paises.join(df_reg, on=['region_id'])

In [0]:
tabla_unida.show()

+---------+----------+------------+--------------------+
|REGION_ID|COUNTRY_ID|COUNTRY_NAME|         REGION_NAME|
+---------+----------+------------+--------------------+
|        2|        AR|   Argentina|            Americas|
|        3|        AU|   Australia|                Asia|
|        1|        BE|     Belgium|              Europe|
|        2|        BR|      Brazil|            Americas|
|        2|        CA|      Canada|            Americas|
|        1|        CH| Switzerland|              Europe|
|        3|        CN|       China|                Asia|
|        1|        DE|     Germany|              Europe|
|        1|        DK|     Denmark|              Europe|
|        4|        EG|       Egypt|Middle East and A...|
|        1|        FR|      France|              Europe|
|        4|        IL|      Israel|Middle East and A...|
|        3|        IN|       India|                Asia|
|        1|        IT|       Italy|              Europe|
|        3|        JP|       Japan|                Asia|
|        4|        KW|      Kuwait|Middle East and A...|
|        3|        ML|    Malaysia|                Asia|
|        2|        MX|      Mexico|            Americas|
|        4|        NG|     Nigeria|Middle East and A...|
|        1|        NL| Netherlands|              Europe|
+---------+----------+------------+--------------------+
only showing top 20 rows

In [0]:
tabla_unida.select('REGION_ID', 'COUNTRY_NAME', 'REGION_NAME').show()

+---------+------------+--------------------+
|REGION_ID|COUNTRY_NAME|         REGION_NAME|
+---------+------------+--------------------+
|        2|   Argentina|            Americas|
|        3|   Australia|                Asia|
|        1|     Belgium|              Europe|
|        2|      Brazil|            Americas|
|        2|      Canada|            Americas|
|        1| Switzerland|              Europe|
|        3|       China|                Asia|
|        1|     Germany|              Europe|
|        1|     Denmark|              Europe|
|        4|       Egypt|Middle East and A...|
|        1|      France|              Europe|
|        4|      Israel|Middle East and A...|
|        3|       India|                Asia|
|        1|       Italy|              Europe|
|        3|       Japan|                Asia|
|        4|      Kuwait|Middle East and A...|
|        3|    Malaysia|                Asia|
|        2|      Mexico|            Americas|
|        4|     Nigeria|Middle East and A...|
|        1| Netherlands|              Europe|
+---------+------------+--------------------+
only showing top 20 rows

In [0]:
tabla_unida = df_paises.select('REGION_ID', 'COUNTRY_NAME').where("REGION_ID == '2'").join(df_reg, on=['region_id']).show()

+---------+--------------------+-----------+
|REGION_ID|        COUNTRY_NAME|REGION_NAME|
+---------+--------------------+-----------+
|        2|           Argentina|   Americas|
|        2|              Brazil|   Americas|
|        2|              Canada|   Americas|
|        2|              Mexico|   Americas|
|        2|United States of ...|   Americas|
+---------+--------------------+-----------+

In [0]:
tabla_unida = df_paises.select('REGION_ID', 'COUNTRY_NAME').where("REGION_ID == '2'")\
.join(df_reg, df_paises.REGION_ID == df_reg.REGION_ID).show()

+---------+--------------------+---------+-----------+
|REGION_ID|        COUNTRY_NAME|REGION_ID|REGION_NAME|
+---------+--------------------+---------+-----------+
|        2|           Argentina|        2|   Americas|
|        2|              Brazil|        2|   Americas|
|        2|              Canada|        2|   Americas|
|        2|              Mexico|        2|   Americas|
|        2|United States of ...|        2|   Americas|
+---------+--------------------+---------+-----------+

In [0]:
df_reg = df_reg.withColumnRenamed('region_id', 'cod_region')
df_reg.show(5)

+----------+--------------------+
|cod_region|         REGION_NAME|
+----------+--------------------+
|         1|              Europe|
|         2|            Americas|
|         3|                Asia|
|         4|Middle East and A...|
+----------+--------------------+

In [0]:
tabla_unida = df_paises.select('REGION_ID', 'COUNTRY_NAME').where("REGION_ID == '2'")\
.join(df_reg, df_paises.REGION_ID == df_reg.cod_region).show()

+---------+--------------------+----------+-----------+
|REGION_ID|        COUNTRY_NAME|cod_region|REGION_NAME|
+---------+--------------------+----------+-----------+
|        2|           Argentina|         2|   Americas|
|        2|              Brazil|         2|   Americas|
|        2|              Canada|         2|   Americas|
|        2|              Mexico|         2|   Americas|
|        2|United States of ...|         2|   Americas|
+---------+--------------------+----------+-----------+

In [0]:
tabla_unida1 = df_departamentos.join(df_empleados, on=['DEPARTMENT_ID'], how='left')

In [0]:
tabla_unida1.show()

+-------------+---------------+----------+-----------+-----------+----------+----------+--------+------------+---------+--------+------+--------------+----------+
|DEPARTMENT_ID|DEPARTMENT_NAME|MANAGER_ID|LOCATION_ID|EMPLOYEE_ID|FIRST_NAME| LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|  JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|
+-------------+---------------+----------+-----------+-----------+----------+----------+--------+------------+---------+--------+------+--------------+----------+
|           10| Administration|       200|       1700|        200|  Jennifer|    Whalen| JWHALEN|515.123.4444| 17/09/03| AD_ASST|  4400|          null|       101|
|           20|      Marketing|       201|       1800|        202|       Pat|       Fay|    PFAY|603.123.6666| 17/08/05|  MK_REP|  6000|          null|       201|
|           20|      Marketing|       201|       1800|        201|   Michael| Hartstein|MHARTSTE|515.123.5555| 17/02/04|  MK_MAN| 13000|          null|       100|
|           30|     Purchasing|       114|       1700|        119|     Karen|Colmenares|KCOLMENA|515.127.4566| 10/08/07|PU_CLERK|  2500|          null|       114|
|           30|     Purchasing|       114|       1700|        118|       Guy|    Himuro| GHIMURO|515.127.4565| 15/11/06|PU_CLERK|  2600|          null|       114|
|           30|     Purchasing|       114|       1700|        117|     Sigal|    Tobias| STOBIAS|515.127.4564| 24/07/05|PU_CLERK|  2800|          null|       114|
|           30|     Purchasing|       114|       1700|        116|    Shelli|     Baida|  SBAIDA|515.127.4563| 24/12/05|PU_CLERK|  2900|          null|       114|
|           30|     Purchasing|       114|       1700|        115| Alexander|      Khoo|   AKHOO|515.127.4562| 18/05/03|PU_CLERK|  3100|          null|       114|
|           30|     Purchasing|       114|       1700|        114|       Den|  Raphaely|DRAPHEAL|515.127.4561| 07/12/02|  PU_MAN| 11000|          null|       100|
|           40|Human Resources|       203|       2400|        203|     Susan|    Mavris| SMAVRIS|515.123.7777| 07/06/02|  HR_REP|  6500|          null|       101|
|           50|       Shipping|       121|       1500|        199|   Douglas|     Grant|  DGRANT|650.507.9844| 13/01/08|SH_CLERK|  2600|          null|       124|
|           50|       Shipping|       121|       1500|        198|    Donald|  OConnell|DOCONNEL|650.507.9833| 21/06/07|SH_CLERK|  2600|          null|       124|
|           50|       Shipping|       121|       1500|        197|     Kevin|    Feeney| KFEENEY|650.507.9822| 23/05/06|SH_CLERK|  3000|          null|       124|
|           50|       Shipping|       121|       1500|        196|     Alana|     Walsh|  AWALSH|650.507.9811| 24/04/06|SH_CLERK|  3100|          null|       124|
|           50|       Shipping|       121|       1500|        195|     Vance|     Jones|  VJONES|650.501.4876| 17/03/07|SH_CLERK|  2800|          null|       123|
|           50|       Shipping|       121|       1500|        194|    Samuel|    McCain| SMCCAIN|650.501.3876| 01/07/06|SH_CLERK|  3200|          null|       123|
|           50|       Shipping|       121|       1500|        193|   Britney|   Everett|BEVERETT|650.501.2876| 03/03/05|SH_CLERK|  3900|          null|       123|
|           50|       Shipping|       121|       1500|        192|     Sarah|      Bell|   SBELL|650.501.1876| 04/02/04|SH_CLERK|  4000|          null|       123|
|           50|       Shipping|       121|       1500|        191|   Randall|   Perkins|RPERKINS|650.505.4876| 19/12/07|SH_CLERK|  2500|          null|       122|
|           50|       Shipping|       121|       1500|        190|   Timothy|     Gates|  TGATES|650.505.3876| 11/07/06|SH_CLERK|  2900|          null|       122|
+-------------+---------------+----------+-----------+-----------+----------+----------+--------+------------+---------+--------+------+--------------+----------+
only showing top 20 rows

In [0]:
tabla_unida1 = df_departamentos.join(df_empleados, on=['DEPARTMENT_ID'], how='right')

In [0]:
tabla_unida1.show()

+-------------+---------------+----------+-----------+-----------+-----------+----------+--------+------------+---------+----------+------+--------------+----------+
|DEPARTMENT_ID|DEPARTMENT_NAME|MANAGER_ID|LOCATION_ID|EMPLOYEE_ID| FIRST_NAME| LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|
+-------------+---------------+----------+-----------+-----------+-----------+----------+--------+------------+---------+----------+------+--------------+----------+
|           90|      Executive|       100|       1700|        100|     Steven|      King|   SKING|515.123.4567| 17/06/03|   AD_PRES| 24000|          null|      null|
|           90|      Executive|       100|       1700|        101|      Neena|   Kochhar|NKOCHHAR|515.123.4568| 21/09/05|     AD_VP| 17000|          null|       100|
|           90|      Executive|       100|       1700|        102|        Lex|   De Haan| LDEHAAN|515.123.4569| 13/01/01|     AD_VP| 17000|          null|       100|
|           60|             IT|       103|       1400|        103|  Alexander|    Hunold| AHUNOLD|590.423.4567| 03/01/06|   IT_PROG|  9000|          null|       102|
|           60|             IT|       103|       1400|        104|      Bruce|     Ernst|  BERNST|590.423.4568| 21/05/07|   IT_PROG|  6000|          null|       103|
|           60|             IT|       103|       1400|        105|      David|    Austin| DAUSTIN|590.423.4569| 25/06/05|   IT_PROG|  4800|          null|       103|
|           60|             IT|       103|       1400|        106|      Valli| Pataballa|VPATABAL|590.423.4560| 05/02/06|   IT_PROG|  4800|          null|       103|
|           60|             IT|       103|       1400|        107|      Diana|   Lorentz|DLORENTZ|590.423.5567| 07/02/07|   IT_PROG|  4200|          null|       103|
|          100|        Finance|       108|       1700|        108|      Nancy| Greenberg|NGREENBE|515.124.4569| 17/08/02|    FI_MGR| 12008|          null|       101|
|          100|        Finance|       108|       1700|        109|     Daniel|    Faviet| DFAVIET|515.124.4169| 16/08/02|FI_ACCOUNT|  9000|          null|       108|
|          100|        Finance|       108|       1700|        110|       John|      Chen|   JCHEN|515.124.4269| 28/09/05|FI_ACCOUNT|  8200|          null|       108|
|          100|        Finance|       108|       1700|        111|     Ismael|   Sciarra|ISCIARRA|515.124.4369| 30/09/05|FI_ACCOUNT|  7700|          null|       108|
|          100|        Finance|       108|       1700|        112|Jose Manuel|     Urman| JMURMAN|515.124.4469| 07/03/06|FI_ACCOUNT|  7800|          null|       108|
|          100|        Finance|       108|       1700|        113|       Luis|      Popp|   LPOPP|515.124.4567| 07/12/07|FI_ACCOUNT|  6900|          null|       108|
|           30|     Purchasing|       114|       1700|        114|        Den|  Raphaely|DRAPHEAL|515.127.4561| 07/12/02|    PU_MAN| 11000|          null|       100|
|           30|     Purchasing|       114|       1700|        115|  Alexander|      Khoo|   AKHOO|515.127.4562| 18/05/03|  PU_CLERK|  3100|          null|       114|
|           30|     Purchasing|       114|       1700|        116|     Shelli|     Baida|  SBAIDA|515.127.4563| 24/12/05|  PU_CLERK|  2900|          null|       114|
|           30|     Purchasing|       114|       1700|        117|      Sigal|    Tobias| STOBIAS|515.127.4564| 24/07/05|  PU_CLERK|  2800|          null|       114|
|           30|     Purchasing|       114|       1700|        118|        Guy|    Himuro| GHIMURO|515.127.4565| 15/11/06|  PU_CLERK|  2600|          null|       114|
|           30|     Purchasing|       114|       1700|        119|      Karen|Colmenares|KCOLMENA|515.127.4566| 10/08/07|  PU_CLERK|  2500|          null|       114|
+-------------+---------------+----------+-----------+-----------+-----------+----------+--------+------------+---------+----------+------+--------------+----------+
only showing top 20 rows

## Ejercicios

In [0]:
df_empleados.select('FIRST_NAME','DEPARTMENT_ID',(f.to_date('HIRE_DATE', 'dd/MM/yy')).alias('FECHA')).sort( f.col('FECHA').desc(), 'DEPARTMENT_ID').show()

+----------+-------------+----------+
|FIRST_NAME|DEPARTMENT_ID|     FECHA|
+----------+-------------+----------+
|      Amit|          147|2008-04-21|
|   Sundita|          148|2008-04-21|
|    Sundar|          147|2008-03-24|
|    Steven|           50|2008-03-08|
|     David|          147|2008-02-23|
|     Hazel|           50|2008-02-06|
|    Girard|           50|2008-02-03|
|     Eleni|          100|2008-01-29|
|    Mattea|          147|2008-01-24|
|   Douglas|           50|2008-01-13|
|   Charles|          149|2008-01-04|
|   Randall|           50|2007-12-19|
|        Ki|           50|2007-12-12|
|      Luis|          100|2007-12-07|
|    Oliver|          145|2007-11-23|
|     Kevin|           50|2007-11-16|
|    Gerald|          100|2007-10-15|
|     Karen|           30|2007-08-10|
|    Martha|           50|2007-06-21|
|    Donald|           50|2007-06-21|
+----------+-------------+----------+
only showing top 20 rows

In [0]:
df_empleados.as('d1').join(df_empleados.as('d2'), on=['d1.GERENTE_ID == d2.EMPLEADO_ID']).select()

# d1.as("d1").join(d2.as("d2"), $"d1.id" === $"d2.id").select($"d1.*")

SyntaxError: ignored